/* -------------- font google --------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');


/* ----------- global ---------------- */

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #747e74;
    overflow-x: hidden;
    background-color: #1F1D2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #F1F0F2;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #EAE9EB;
    margin: 0;f
}

span {
    display: contents;
    color: #38ABBE;
}

/* ------------ all button css ---------- */

/* .main-btn {
    padding: 1.5em 5em;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .main-btn:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
.main-btn:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  } */

.main-btn {
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 55px;
    color: #F1F0F2;
    border-radius: 5px;
    transition: .2s ease-in-out;
    background: #1F1D2B;
    box-shadow:  6px 6px 12px #16151f,
                -6px -6px 12px #282537;
}

.main-btn:hover {
    background: linear-gradient(145deg, #1c1a27, #211f2e);
    box-shadow:  9px 9px 18px #0d0c12,
                -9px -9px 18px #312e44;
    color: #6C5ECF;
}


/* ------------ all animation ---------- */

@keyframes video {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes bounceTop-1 {

    0%,
    100% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0px);
    }
}

@keyframes animation-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spinner-linspin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner-easespin {
    12.5% {
        transform: rotate(135deg);
    }

    25% {
        transform: rotate(270deg);
    }

    37.5% {
        transform: rotate(405deg);
    }

    50% {
        transform: rotate(540deg);
    }

    62.5% {
        transform: rotate(675deg);
    }

    75% {
        transform: rotate(810deg);
    }

    78.5% {
        transform: rotate(945deg);
    }

    to {
        transform: rotate(1080);
    }
}

@keyframes spinner-left-spin {
    0% {
        transform: rotate(130deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(130deg);
    }
}

@keyframes spinner-right-spin {
    0% {
        transform: rotate(-130deg);
    }

    50% {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-130deg);
    }
}

/* -------------- preloader css ---------- */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background-color: #ECEDEF;
    z-index: 99999;
}

.preloader .loader {
    display: table-cell;
    vertical-align: middle;
}

.preloader .loader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.preloader .loader .spinner .spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    animation: spinner-linspin 1568ms linear infinite;
}

.preloader .loader .spinner .spinner-container .spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spinner-easespin 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
}

.preloader .loader .spinner-right .spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #eceff8;
    animation: spinner-right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;

}

.preloader .loader .spinner-left .spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #eceff8;
    animation: spinner-left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
}

.preloader .loader .spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    border-color: #38ABBE #38ABBE #eceff8;
    border-radius: 50%;
    border-width: 6px;
}


/* ----------- navbar css----------- */

.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.sticky {
    position: fixed;
    background: linear-gradient(315deg, #1c1a27, #211f2e);
    box-shadow:  -6px -6px 12px #191723,
                6px 6px 12px #252333;
}

.navbar {
    position: relative;
    padding: 20px 0;
}


.navbar-brand .image {
    max-width: 125px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 5px 12px;
        background: linear-gradient(315deg, #1c1a27, #211f2e);
        box-shadow:  -6px -6px 12px #191723,
                6px 6px 12px #252333;
    }
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #F1F0F2;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #38ABBE;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    background-color: #F1F0F2;
    opacity: 0;
    transition: all .3 ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .navbar-nav .nav-item .nav-link::before {
        position: relative;
    }
}

.navbar-nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before {
    opacity: 1;
}


/* ----------- home css ---------- */

.header-hero {
    position: relative;
    top: 0;
    height: 800px;
    background-position: bottom center;
}

.header-hero .shape {
    position: absolute;
}

.header-hero .shape.shape-1 {
    position: relative;
    width: 80px;
    left: 130px;
    top: 20%;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 250px;
    bottom: 70px;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-3 {
    width: 20px;
    height: 20px;
    left: 35px;
    bottom: 25%;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-4 {
    width: 39px;
    height: 39px;
    left: 40%;
    top: 175px;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-5 {
    width: 50px;
    left: 50%;
    bottom: 20%;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-6 {
    width: 25px;
    height: 25px;
    left: 45%;
    bottom: 70%;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
}

.header-hero-content {
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .header-hero-content {
        margin-top: 30%;
    }
}

.header-hero-content .header-title {
    font-size: 42px;
    color: #F1F0F2;
}

.header-hero-content .text {
    margin-top: 30px;
}

.header-hero-content ul {
    margin-top: 30px;
}

.header-hero-content ul li .header-video {
    margin-left: 50px;
}

.header-hero-content .header-video {
    position: relative;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background: #6C5ECF;
box-shadow: inset -21px -21px 21px #5a4eac,
            inset 21px 21px 21px #7e6ef2;
    color: #ECEDEF;
}

.header-hero-content .header-video:hover {
    color: #E92828;
}

.header-hero-content .header-video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #6C5ECF;
    box-shadow: inset -9px -9px 18px #2b2653,
                inset 9px 9px 18px #ad96ff;
    animation: video 2s linear infinite;
}

.header-image {
    position: relative;
    padding-top: 80px;
    animation: bounceTop-1 3s ease infinite;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .header-image img {
        height: 0;
    }
}

.header-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(../img/header/bg-one.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation: animation-1 5s linear infinite;
}

.vbox-close {
    color: #ECEDEF;
    background: transparent;
    font-size: 40px;
    right: 12%;
}



/* --------- feature css ---------- */

.feature-section .single-feature {
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background: #1F1D2B;
    box-shadow:  6px 6px 12px #16151f,
                -6px -6px 12px #282537;
}

.feature-section .single-feature:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    background: linear-gradient(145deg, #1c1a27, #211f2e);
    box-shadow:  9px 9px 18px #0d0c12,
                -9px -9px 18px #312e44;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 991px) {
    .feature-section .single-feature {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 768px),
(max-width: 767px) {
    .feature-section .single-feature {
        margin: 10px;
    }
}

.feature-section .single-feature .icon {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    margin: 0 auto 30px;
    background-color: #6C5ECF;
    color: #ECEDEF;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature-section .single-feature .icon.color-2 {
    background-color: #FF6696;
}

.feature-section .single-feature .icon.color-3 {
    background-color: #00929B;
}

.feature-section .single-feature .icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .2;
    transition: all .3s ease-out 0s;
}

.feature-section .single-feature:hover .icon::after {
    top: 8px;
    right: 8px;
}

.feature-section .single-feature .content h3 {
    font-weight: 600;
    margin-bottom: 25px;
}


/* ------- about css -------- */

.about-area {
    overflow: hidden;
}

.about-image {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-image .about-shape {
    position: relative;
    width: 394px;
    height: 394px;
    background: #6C5ECF;
    box-shadow: inset -5px 5px 10px #52479d,
                inset 5px -5px 10px #8675ff;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .about-image .about-shape {
        width: 380px;
        height: 380px;
    }
}

.about-image .about-shape::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #6C5ECF;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: scale(1.1) rotate(25deg);
}

.about-image .app {
    max-width: 280px;
    position: absolute;
    top: 100px;
    left: 95px;
    transform: rotate(-25deg) translateY(-15%);
    animation-name: wobble-hor-top;
    animation-duration: 2.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .about-image .app {
        max-width: 250px;
    }
}

.title {
    font-size: 35px;
    font-weight: 600;
}

.text {
    margin-top: 20px;
}

.about-content .main-btn {
    margin-top: 40px;
}

/* --------- faq css ---------- */

.faq-section .accordion-item {
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(142, 142, 142, .16);
}

.faq-section .accordion-item button {
    position: relative;
    padding: 18px 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    background: #1F1D2B;
    box-shadow:  6px 6px 12px #16151f,
                -6px -6px 12px #282537;
    color: #F1F0F2;
}

.faq-section .accordion-item button:hover {
    color: #6C5ECF;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/accordion.svg);
}

.accordion-button:focus {
    box-shadow: none;
}
.accordion-collapse{
    background: #1F1D2B;
    box-shadow:  6px 6px 12px #16151f,
                -6px -6px 12px #282537;
    color: #d8d8d8;
}

.href-color{
    color: #6C5ECF;
}

.href-color:hover{
    color: #9B90E8;
}

/* --------- download css ---------- */

.download-area {
    overflow: hidden;
}

.download-area .download-image .download-shape-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #6C5ECF;
    box-shadow: inset -5px 5px 10px #52479d,
                inset 5px -5px 10px #8675ff;
    border-radius: 50%;
    z-index: -1;
}

.download-area .download-image .image-3 {
    position: relative;
    max-width: 350px;
    padding-top: 65px;
    padding-left: 60px;
    padding-bottom: 60px;
}

.download-content ul {
    margin-top: 35px;
}

.download-content ul li {
    display: inline-block;
    margin-top: 15px;
}

.download-content ul li a {
    width: 210px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: -15px 10px 30px 0 rgb(0 0 0 / 30%);
}

.download-content ul li a.button-page-download {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    color: #F1F0F2;
    border-radius: 5px;
    transition: .2s ease-in-out;
    background: #1F1D2B;
    box-shadow:  6px 6px 12px #16151f,
                -6px -6px 12px #282537;
}

/* ----------- footer css --------- */

.footer-area {
    position: relative;
    overflow: hidden;
}

.footer-area .footer-shape {
    position: absolute;
}

.footer-area .footer-shape.shape-1 {
    width: 75px;
    left: 70px;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 15%;
    bottom: 40px;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-3 {
    width: 20px;
    height: 20px;
    left: 35%;
    top: 40px;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-4 {
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: 5px;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-5 {
    width: 39px;
    height: 39px;
    right: 37%;
    top: 0px;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-6 {
    width: 15px;
    height: 15px;
    right: 15%;
    top: 125px;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .logo {
    max-width: 300px;
}

.footer-about {
    max-width: 320px;
}

.footer-about .text {
    margin-top: 30px;
}

.footer-about .social {
    margin-top: 30px;
}

.footer-about .social li {
    display: inline-block;
    margin-right: 25px;
}

.footer-about .social li a {
    font-size: 20px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-about .social li a:hover {
    color: #6C5ECF;
}

.footer-link-wrapper {
    width: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .footer-link {
        padding-top: 30px;
    }
}

.footer-link .link {
    padding-top: 10px;
}

.footer-link .link li {
    margin-top: 10px;
}

.footer-link .link li a {
    text-decoration: none;
    font-size: 18px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-link .link li a:hover {
    color: #6C5ECF;
}

.footer-title .title {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .footer-contact {
        padding-top: 30px;
    }
}

.footer-contact .contact-list li .contact-info .info-content .text a {
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-contact .contact-list li .contact-info .info-content .text a:hover {
    color: #0898ef;
}

.footer-copyright .copyright {
    border-top: 2px solid #747e88;
    padding-top: 10px;
    padding-bottom: 25px;
}

.footer-copyright .copyright .copyright-text .text a {
    color: #747e88;
}

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: #2B2937;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#6C5ECF;
    border: 3px solid #2B2937;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color:#9B90E8;
    border: 3px solid #2B2937;
}